---
layout: default
---
<!-- <h1>{{ page.title }}</h1> -->

<h2 style="font-family:verdana; color:brown">{{ page.title }}</h2>

<!-- <p class="meta"> {{ page.date | date_to_string }} </p> -->
<p class="meta"> 
  <font size="2"> 
    {{ page.date | date_to_string }} 
  </font> 
</p> 

<!-- Contents -->
<div class="post">
  <font size="2"> 
    {{ content }} 
  </font>
</div>

<!-- Embed MathJax for LaTeX rendering -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
